{
  "database": {
    "username": "root",
    "password": "password",
    "server": "localhost",
    "port": 3306,
    "dbname": "postfix"
  },
  "servers": {
    "imap": {
      "hostname" : "host01.highpoweredhelp.com",
      "port" : 993
    },
    "smtp": {
      "hostname": "host01.highpoweredhelp.com",
      "port" : 587
    }
  }
}